<%= render partial: "nav" %>
<div class="container">
  <h1 id="title"><%= @article.title %>  <%= link_to "âœï¸", edit_article_path(@article) %> <%= link_to "ðŸ—‘", article_path(@article), method: "delete" %></h1>
  <p><%= @article.content %></p>
  <%= link_to "Go back", articles_path %>
</div>

